%btn {
    display: inline-block;
    border-radius: 20px;
    padding: 8px 20px;
    margin: 3px;
    cursor: pointer;
}

.btn-primary {
    @extend %btn;
    background: $primary-color;
    color: #fff;
    border: 0;
}

.btn-secondary {
    @extend %btn;
    background: $secondary-color;
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;

    img {
        padding-right: 1rem;
        width: 35px;
    }

}

.btn.active {
    background-color: #fff;
    color: $primary-color;
    border: solid 2px $primary-color;
  }