@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #FF3300;
$secondary-color: #56423C;
$accent-color: #009E00;
$color-dark: #281812;