@media screen and (max-width: 768px) {
    .contact-us {
        flex-direction: column;
        &__info {
            padding: 2rem 0;
        }
    }

    .grid--1x2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu__buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}