.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 2rem;
}

.block {
    padding: 3rem 0;
    &--secondary {
        background: $secondary-color;
    }
    &--dark {
        background: $color-dark;
    }
}

.shadow {
    box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.1);
}