@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: $font-stack;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}
.header_title {
    padding: 4rem 0;
    font-size: 2.5rem;
    color: $primary-color;
    span {
        color: $accent-color;
    }
}
//nav
.nav-menu {
    background: $color-dark;
    padding: 2rem 0;
    font-size: 2rem;
    .nav {
        display: flex;
        justify-content: space-between;
        color: #fff;
        align-items: center;
        &__logo {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                object-fit: contain;
            }
            a {
                font-weight: bold;
                color: #fff;
                padding-left: 1rem;
            }
        }
        &__items {
            display: flex;
            align-items: center;
            a {
               color:#fff;
               margin-left: 2rem;
               &:hover {
                   color:rgb(158, 152, 152); 
               }
            }
            :last-child{
                color:$primary-color;
                border: 2px solid $primary-color;
                padding: 0.5rem 1rem;
                border-radius: 20px;

                &:hover {
                    background-color: $primary-color;
                    color: $color-dark;
                    transition: 0.1s ease-in;
                }
            } 
        }
    }
}

.burger {
    display: none;
    div {
        width: 30px;
        margin: 5px 0;
        height: 4px;
        background: #fff;
    }
}
.burger.active {
    :first-child {
        transform: rotate(-45deg) translate(-3px, 3px);
        transition: 0.3s ease-in;
    }
    :nth-child(2){
        display: none;
    }
    :last-child {
        transform: rotate(45deg) translate(-3px, -3px);
        transition: 0.3s ease-in;
    }
}

//hero
.hero {
    height: 500px;
    display: flex;
    
    &__text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 3.5rem;
            color: #fff;
            span {
                color: $accent-color;
            }
        }
        p {
            font-size: 1.8rem;
            color: #fff;
            padding: 2rem 0;
        }
        a {
            width: fit-content;
        }

    }

    &__image {
        flex: 1;
        padding-left: 4rem;
        img {
            object-fit: contain;
        }
    }
}
//About Us
.about-us {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    
    &__image {
        flex: 1;    
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        padding: 2rem;
        flex: 1;
        &__buttons {
            padding-bottom: 2rem;
            font-size: 1.8rem;
            a {
                padding-right: 2rem;
            }
        }
        &__text {
            font-size: 1.6rem;
            line-height: 1.7;
        }
    }
}

//Menu
.menu {
    &__buttons {
        background: #fff;
    }
    &__container {
        gap: 2rem;
        overflow: hidden;
        padding: 2rem 0.5rem;
        
        &-card {
            width: 100%;
            height: 100px;
            display: none;
            box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            overflow: hidden;

            &__img {
                width: 30%;
            }
            &__content {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 1rem;

                &__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.8rem;
                    padding-bottom: 1rem;

                    span {
                        padding-left: 1rem;
                    }
                }
                &__body {
                    flex:1;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.show {
    display: flex;
    transition: 0.4s all ease-in-out;
    animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: translateY(-50px);
         //transform: scale(0);
    }

    100% {
         opacity: 1;
         transform: translateY(0);
         //transform: scale(1);
    }
}


//Favorite Dishes
.favorites {
    padding: 0 1rem;
    padding-bottom: 1rem;

    .favorite-slide {
        box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        overflow: hidden;
        &__head {
            height: 200px;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
        &__body {
            height: fit-content;
            padding: 2rem;
            position: relative;
            color: #FFF5EE;
            &__header {
                
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 2rem;
                padding-bottom: 1.5rem;
                span {
                    font-style: italic;
                    color: gray;
                }
            }

            p {
                font-size: 1.5rem;
                padding-bottom: 2rem;
            }
            
            a {
                font-size: 1.5rem;
                font-weight: bold;
                color: #fff;
                background: $primary-color;
                border-radius: 20px;
                padding: 1rem;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.feedback {
    height: 250px;
    padding: 1rem;

    &__slide {
        padding: 2rem;
        box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
        &__quote {
            flex: 1;
            display: flex;
            align-items: center;
            font-style: italic;
            font-size: 1.6rem;
            padding-bottom: 2rem;
        }

        &__footer {
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              position: relative;
              &:after {
                bottom: -3px;
                left: 0;
                margin: 0;
                content: "";
                display: block;
                height: 2px;
                width: 75%;
                position: absolute;
                background: $accent-color;
                }
            }
            
            img {
                width: 40px;
            }
        }
    }
    &__btn {
        text-align: center;
        padding-top: 2rem;
    }

}

.contact-us {
    display: flex;
    justify-content: space-between;
    min-height: 300px;

    &__map {
        flex: 1;
    }

    &__info {
        flex: 1;
        padding: 2rem;
        
        &__container {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            padding-bottom: 2rem;
            img {
                padding-right: 1rem;
                width: 35px;
            }
        }
    }
}

.footer {
    background: #ecebeb;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;

    &__logo {
        width: 150px;
    }
}


@import 'utilities';
@import 'mobile';
@import 'buttons';